<html>
<head>
    <title></title>
    <script src="/js/modernizr-2.8.3.js"></script>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/codemirror.js"></script>
    <script src="/js/placeholder.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link href="/css/codemirror.css" rel="stylesheet" />
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/site.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"/>
</head>

<style>
    .CodeMirror {
        border: 1px solid silver;
        border-radius: 5px;
    }

    .CodeMirror-empty.CodeMirror-focused {
        outline: none;
    }

    .CodeMirror pre.CodeMirror-placeholder {
        color: #999;
    }
    .btn-width{
        width: 100px;
    }
    .verticalLine {
        border-left: 1px solid silver;
    }
    .div-results {
        margin-left: -20%;
        margin-right: -20%
    }
</style>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
    </div>
    <div class="container body-public/css">
        <h2>AQP : Approximate Query Processing</h2>
<hr />

<div class="help-block">
    Enter SQL query for comparing performance between postgre and hive databases
</div>

<form><textarea id="editor" name="editor" placeholder="Enter your Query here..."><%= query %></textarea></form>
<br />
<div style="text-align:right">
    <input type="button" id="btnSubmit" value="submit" class="btn btn-default btn-width">
    <input type="button" id="btnClear" value="clear" class="btn btn-default btn-width">
</div>

<div class="row div-results" id="divResults">
    <hr />
    <div class="col-lg-6">
        <h4><u><i>Postgre Result</i></u></h4>
        <label><%= planningTime %> </label>
        <br />
        <label><%= executionTime %> </label>
        <br />
        <label>Result set size: <%= rowsCount %> </label>
        <br /><br />
    <% if( parseInt(rowsCount) > 0 ) { %>
        <table id="tblPostgre" style="width:100%">
                <thead>
                    <tr>
                        <% Object.keys(data[0]).forEach(function (key) { %>
                            <th><%= key %></th>
                        <% });%>        
                    </tr>
                </thead>
                <% for(var i=0; i < data.length; i++) { %>
                    <tr>
                        <% Object.keys(data[0]).forEach(function (key) { %>
                            <td><%= data[i][key] %></td>
                        <% });%> 
                    </tr>
                <% } %>
            </table>
    <% } %>    
</div>
    <div class="col-lg-6 verticalLine">
        <h4><u><i>Hive Result</i></u></h4>
        <label>Compilation Time:</label>
        <br />
        <label>Execution Time:</label>
        <br />
        <label>Result set size:</label>
        <br /><br />
        <!-- <table id="tblHive" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>

                </tr>
            </thead>
            <tr>
                <td>Lael Greer</td>
                <td>Systems Administrator</td>
                <td>London</td>
                <td>21</td>
                <td>2009/02/27</td>
                <td>$103,500</td>
            </tr>
            <tr>
                <td>Jonas Alexander</td>
                <td>Developer</td>
                <td>San Francisco</td>
                <td>30</td>
                <td>2010/07/14</td>
                <td>$86,500</td>
            </tr>
            <tr>
                <td>Shad Decker</td>
                <td>Regional Director</td>
                <td>Edinburgh</td>
                <td>51</td>
                <td>2008/11/13</td>
                <td>$183,000</td>
            </tr>
            <tr>
                <td>Michael Bruce</td>
                <td>Javascript Developer</td>
                <td>Singapore</td>
                <td>29</td>
                <td>2011/06/27</td>
                <td>$183,000</td>
            </tr>
            <tr>
                <td>Donna Snider</td>
                <td>Customer Support</td>
                <td>New York</td>
                <td>27</td>
                <td>2011/01/25</td>
                <td>$112,000</td>
            </tr>
        </table> -->

    </div>
</div>

    </div>
    <hr />
    <footer class="container body-public/css">
        <p>&copy; @DateTime.Now.Year</p>
    </footer>

</body>
</html>

<script>
    editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
        lineNumbers: true
    });

    $(document).ready(function () {
        $('#tblPostgre').DataTable({
            "dom": '<"top"if>rt<"bottom"p><"clear">' 
        });

        $('#tblHive').DataTable({
            "dom": '<"top"if>rt<"bottom"p><"clear">'
        });

        $('#btnSubmit').click(function () {
            $('#divResults').css({ 'display': 'block' });
            window.location.assign("/result?query="+ editor.getValue());
        })

        $('#btnClear').click(function () {
            editor.setValue('');
            $('#divResults').css({ 'display': 'none' });
        })

    });
</script>

